apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana-deployment
  namespace: dracon
  labels:
    app: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.2.3
          ports:
            - containerPort: 5601
              name: webinterface
---
apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: dracon
  labels:
    service: kibana
spec:
  ports:
    - port: 5601
      name: webinterface
  selector:
    app: kibana
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kibana
  namespace: dracon
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "http"
spec:
  ingressClassName: nginx
  defaultBackend:
    service:
      name: kibana
      port:
        name: webinterface
  tls:
  - hosts:
    - "kibana.localhost"
    secretName: tls-kibana
  rules:
  - host: "kibana.localhost"
    http:
      paths:
      - backend:
          service:
            name: kibana
            port:
              name: webinterface
        pathType: ImplementationSpecific
