name: Test
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - name: Install python dependencies
        run: sudo apt-get update && sudo apt-get install -y python3-setuptools python3-pip

      - name: Check out code
        uses: actions/checkout@v3

      - name: Build
        run: ./pleasew build -p -v 2 //...

      - name: Test
        run: ./pleasew test //...
